* {
  margin: 0;
  padding: 0;
}

.open-sans-font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* primary style */
.section-title {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  text-align: center;
}
.section-para {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  text-align: center;
}
/* text-primary color */
.primary {
  color: #fd6e0a;
}
.primary-dark-2 {
  color: #474747;
}
.primary-dark-3 {
  color: #757575;
}

/* Primary btn */
.primary-btn {
  background-color: #fd6e0a;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  padding: 18px 35px;
  cursor: pointer;
}
/* nav bar style */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 230px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
  cursor: pointer;
}
nav ul li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
}
.navigation ul {
  display: flex;
  align-items: center;
}
.side1 {
  width: 189px;
  height: 27px;
  display: flex;
  justify-content: space-between;
}
li button {
  margin-left: 54px;
}
.a-btn {
  font-size: 14px;
}

.banner-content {
  width: 585px;
}
.banner-image {
  width: 570px;
}
.greetings {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}
.title {
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}
.discription {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 38px 0 230px;
}
.banner-content button {
  margin-right: 30px;
}

/* header background image */
.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: 6%, 50%;
}

/* main style */
main {
  margin: 0 230px;
}
main > section {
  margin: 130px 0;
}
.About-me-container {
  padding: 131px 157px;
  background-color: #fff8f3;
  border-radius: 10px;
}
.About-me {
  border: 1px solid black;
  text-align: center;
  background-color: white;
}
.section-para {
  margin: 30px 0;
}
.infos {
  display: flex;
  justify-content: space-around;
}
.info-title {
  font-size: 20px;
  font-weight: 400;
}
.info > .disc {
  font-size: 20px;
  font-weight: 700;
}
/* skills section */

.skills {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 33px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background-color: white;
}
.skill-title {
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0 20px 0;
}
.skill-para {
  font-size: 16px;
  font-weight: 400;
}

/* resume container */

.resume-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.resume h1 {
  margin-bottom: 113px;
}

.resume-container-column > h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.resume-container-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume-container-subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.resume-container-disc {
  font-size: 16px;
  font-weight: 400;
}
.resume-container hr {
  margin: 30px 0;
}
.btn-div {
  text-align: center;
  margin-top: 50px;
}
